<h3> <%= @question.title %> </h3>
<p> <%= @question.text %> </p>
<%= render partial: "votes/vote", layout: false, locals: {votable: @question} %>
<p> Asked by: <%= @question.asker.name %></p>
<ul>Tags:
  <% @question.tags.each do |tag|  %>
    <li><%= tag.text %></li>
  <% end %>
</ul>
<div class='comments'>
  <% @question.comments.each do |comment| %>
    <%= render partial: "comments/comment", layout: false, locals: {comment: comment} %>
  <% end %>
  <div class='js-comment'>
    <%= link_to "Add Comment", new_question_comments_path(@question), class: 'new-comment' %>
  </div>
</div>

<% if @question.best_answer_id %>
<h4>Best Answer:</h4>
<%= render partial: "answers/answer", layout: false, locals: {answer: @question.best_answer} %>
<% end %>

<% @question.answers.each do |answer| %>
  <% next if answer.id == @question.best_answer_id %>
  <%= render partial: "answers/answer", layout: false, locals: {answer: answer} %>
<% end %>

<h4>Answer this question:</h4>
<%= form_for @answer do |f| %>
<%= f.label :text, "Answer" %>
<%= f.text_area :text, size: "50x5" %>
<%= f.hidden_field :question_id, value: @question.id  %>
<%= f.submit %>
<% end %>

