
<% @user.errors.full_messages.each do |error| %>
  <p><%= error %></p>
<% end %>

<%= form_for @user do |f| %>
  <%= f.label "Name" %>
  <%= f.text_field :name, autofocus: true %>
  <%= f.label "Email" %>
  <%= f.text_field :email %>
  <%= f.label "Password" %>
  <%= f.password_field :password %>
  <%= f.label "Password Confirmation" %>
  <%= f.password_field :password_confirmation %>
  <%= f.submit "Submit" %>
<% end %>
