<h3><%= answer.responder.name %>'s answer </h3>
<p><%= answer.text %></p>
<div class='comments'>
  <% answer.comments.each do |comment| %>
    <%= render partial: "comments/comment", layout: false, locals: {comment: comment} %>
  <% end %>
  <%= link_to "Add Comment", new_answer_comments_path(answer) %>
</div>
<%= render partial: "votes/answer_vote", layout: false, locals: {votable: answer} %>
