<div class='vote'>
<span><%=votable.vote_count%></span>
<%= form_for [votable, Vote.new] do |f| %>
  <%= f.hidden_field :value, value: 1 %>
  <%= f.hidden_field :votable_type, value: votable.class %>
  <%= f.hidden_field :votable_id, value: votable.id %>
  <%= f.submit "Upvote" %>
<% end %>

<%= form_for [votable, Vote.new] do |f| %>
  <%= f.hidden_field :value, value: -1 %>
  <%= f.hidden_field :votable_type, value: votable.class %>
  <%= f.hidden_field :votable_id, value: votable.id %>
  <%= f.submit "Downvote" %>
<% end %>
</div>
